body {
    height: 100vh;
}
div.container {
    height: 100vh;
}
:root {
    --color-psicocaeliam: #0063be;
}
/* div.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
} */
nav.top {
    
    background-color: rgb(196, 196, 196);
    max-width: 100%;
    min-height:3rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    padding: .4rem;
}
nav.top span {
    display: inline-block;
    vertical-align: middle;
}

span.mail {
    margin-left: 2rem;
}
img.tfno_icon, .mail_icon, .face_icon, .linkedin_icon {
    height: 2rem;
}
header{   
    max-width: 100%;

    
    /*   background-image: url(../images/caballos/caballos_sheilaMora-coaching_caballos_psicologia1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; */
}
.span_logo {
    display: block;
    max-width: 20%;
    float:left;
}

img.logo {
    max-width: 100%;
    display: block;
    /* position: relative;
    left: 0px;
    top: 0px;  */
    
}






h1 {
    display: none;

}
nav.nav_header {
    float: left;
    display:block;
    min-height: 2rem;
    width: 80%;
   /*  position: absolute;;
    right: 0rem;
    top: 2rem; 
     */
    margin-top: 3%;
      
}
@media screen and (max-width: 1700px) {
    nav.nav_header{
        margin-top: 3.4%;
    }
    
}

ul.menu_inicio {
  display: block;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;

}
ul.menu_inicio li.inicio {
    width: 12%;
    text-align: center;
}
ul.menu_inicio li.nosotros {
    width: 13%;
    text-align: center;
}
ul.menu_inicio li.psicologia {
    width: 20%;
    text-align: center;
}
ul.menu_inicio li.caballos {
    width: 20%;
    text-align: center;
}
ul.menu_inicio li.talleres {
    width: 20%;
    text-align: center;
}
ul.menu_inicio li.contacto {
    width: 10%;
    text-align: center;
}
ul.menu_inicio li{
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 1px;
    
}
@media screen and (max-width: 1900px) {
    ul.menu_inicio li{
        font-size: 1rem;
    }
}
@media screen and (max-width: 1600px) {
    ul.menu_inicio li{
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 1500px) {
    ul.menu_inicio li{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 1300px) {
    ul.menu_inicio li{
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 1200px) {
    ul.menu_inicio li{
        font-size: 0.6rem;
    }
}
@media screen and (max-width: 1100px) {
    ul.menu_inicio li{
        font-size: 0.5rem;
    }
}



ul.menu_inicio li a{
    text-decoration: none;
    color: rgb(165, 116, 42);
    
}
ul.menu_inicio li {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
}
ul.menu_inicio li a:before, ul.menu_inicio li a:after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 0px;
        height: 5px;
        margin: 5px 0 0;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-transition-duration: 0.75s;
                transition-duration: 0.75s;
        opacity: 0;
      }
  
ul.menu_inicio li a:before {
        left: calc(50%);
        background-color: #ad6397;
      }
ul.menu_inicio li a:after {
    right: calc(50%);
    background-color: #ad6397;
  }

  ul.menu_inicio li:hover a:before, ul.menu_inicio li:hover a:after{
      width: 50%;
      opacity: 1;
  }

 

  /* main*/
main {
    min-height: 100vh;
}

figure.img_primera {
    margin: 0;
    width: 100%;
    display: block;
    height: 40rem;
    overflow: hidden;
    position: relative;
}
.oscuro{
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    left: 0;
    top: 0; 

    width: 100%;
    height: 40rem;
    z-index: 1;
} 

@media screen and (max-width: 1800px) {
    figure.img_primera {
        height: 30rem;
    }
    .oscuro {
        height: 30rem;
    }
   

}

p.enlace_consulta {
    position: absolute; 
    right: 22%; 
    top: 30%;
    z-index: 5;
}
.aconsulta {
    text-decoration: none;
    color: white;
    font-size: 4rem;
    font-family: 'Overlock', cursive;
    letter-spacing: 1px;
    
}
@media screen and (max-width: 1800px) {
    .aconsulta {
        font-size: 3rem;
    }
}

figure.img_primera:hover .oscuro {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transition-duration: 0.75s;
            transition-duration: 0.75s;
}
figure.img_primera:hover .aconsulta{
    color: var(--color-psicocaeliam);
    -webkit-transition: all 0.2 s ease-in-out;
    transition: all 0.2 s ease-in-out;
    -webkit-transition-duration: 0.50s;
            transition-duration: 0.50s;
}

/* figure.img_segunda {
    margin: 10% 0 10% 0;
    width: 100%;
    display: block;
    height: 70rem;
   
    
} */
img.paisaje_arriba {
    
    display: block;
    max-width:100%; 
}
/* img.sycaballo_abajo {
    
    display: block;
    max-width: 100%; 
    
}  */
div.blanco{
    background-color: white;
    
    width: 100%;
    height: 13rem;
  
}

div.container_parallax{
   
    width: 100%;
    background-color: black;
    
    
}
.parallax { 
    position: relative; 
    /* The image used */
    background-image: url("../images/caballos/caballos_sheilaMora-coaching_caballos_psicologia1.jpg");
  
    /* Set a specific height */
    height: 150rem; 
    width: 100%;
    

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
   
    50%  {right:200px; ;}
    75%  { right:0px; ;}
    100% {right:0px; }
}

/* Standard syntax */
@keyframes example {
    
    50%  {right:200px; ;}
    75%  { right:0px; ;}
    100% {right:0px;} 
}
a.texto {
    text-decoration: none; 
    position: absolute;
    left: -20%;
    top: 50%;
}
.parallax:hover a.texto {
        text-decoration: none;
        font-size: 4rem;
        color: white;
       
        position: absolute;
        left: 40%; 
        top: 50%;
        -webkit-transition: all 2s ease-in-out;
        transition: all 2s ease-in-out;
        -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
        animation-name: example;
        animation-duration: 2s;
    
}
footer{
    height: 60rem;
    background-color: black;
}







