figure.sala_espera {
    
    background-color: black;
    
    
}
.img_sala{
   
    margin-left: auto;
    margin-right: auto;
}

figure.fig_img_sheila {
    
    background-color: black;

}
.img_sheila {
   
    border-radius: 20rem;
   
    margin-left: auto;
    margin-right: auto;
   

}