
.oculto{
    display: none;
}
.imagenes {
    position: relative;
   height:40rem;
}

figure.sala_espera {
    position: absolute;
   
    z-index: 2;
    
}
.img_sala{
    
    margin-left: auto;
    margin-right: auto;
    
}

figure.fig_img_sheila {
    position: absolute;
    
    z-index: 1;

}
.img_sheila {
   
    border-radius: 20rem;
   
    margin-left: auto;
    margin-right: auto;
    
}
h2 {
    font-size: 2.5rem;
}
.texto{
    line-height: 1.8rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}
section{
    margin-bottom: 3rem;
}