body{
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
  
   
} 
.wrap {
    height: 100vh;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}


:root {
    --color-psicocaeliam: #0063be;
}

nav.top {
    
    background-color: rgb(196, 196, 196);
    max-width: 100%;
    min-height:3rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    padding: .4rem;
}
nav.top span {
    display: inline-block;
    vertical-align: middle;
}

span.mail {
    margin-left: 2rem;
}
img.tfno_icon, .mail_icon, .face_icon, .linkedin_icon {
    height: 2rem;
}
header{   
    max-width: 100%;
    background-color: white;

    
    /*   background-image: url(../images/caballos/caballos_sheilaMora-coaching_caballos_psicologia1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; */
}
.span_logo {
    display: block;
    max-width: 20%;
    float:left;
}

img.logo {
    max-width: 100%;
    display: block;
    /* position: relative;
    left: 0px;
    top: 0px;  */
    
}






h1 {
    display: none;

}
nav.nav_header {
    background-color: white;
    float: left;
    display:block;
    min-height: 2rem;
    width: 80%;
   /*  position: absolute;;
    right: 0rem;
    top: 2rem; 
     */
    margin-top: 3%;
      
}
@media screen and (max-width: 1700px) {
    nav.nav_header{
        margin-top: 3.4%;
    }
    
}

ul.menu_inicio {
  display: block;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;

}
ul.menu_inicio li.inicio {
    width: 16%;
    text-align: center;
}
ul.menu_inicio li.equipo {
    width: 13%;
    text-align: center;
    position: relative;
  
}
ul.desplegable_equipo {
    width: 25rem;
    height: 9rem;
    display: none;
    background-color: rgb(245, 245, 245);
    position: absolute;
    top: 3rem;
    left: 0;
    z-index: 5000; 
     
    
}


ul.desplegable_equipo li {
    margin-top: 2rem;

}
a.equipo_li.equipo_li {
    color: rgb(165, 116, 42);
}
a.equipo_li.equipo_li:hover {
    color: #0063be;
}
/* ul.menu_inicio li.equipo:hover ul.desplegable_equipo{
    display: block;
    width: 50rem;
    height: 
    position: absolute;
    top: 3rem;
    left: 0;
    z-index: 50000;
} */
ul.menu_inicio li.psicologia {
    width: 16%;
    text-align: center;
}
ul.menu_inicio li.coaching {
    width: 16%;
    text-align: center;
    position: relative;
}
ul.desplegable_coaching {
    width: 15rem;
    height: 9rem;
    display: none;
    background-color: rgb(245, 245, 245);
    position: absolute;
    top: 3rem;
    left: 0;
    z-index: 5000;  
    
    
}
ul.desplegable_coaching li.li_block {
    margin-top: 2rem;
    display: block;

}


.a_coaching.a_coaching:hover {
    color: #0063be;
}
ul.menu_inicio li.contacto {
    width: 14%;
    text-align: center;
}
ul.menu_inicio li.blog {
    width: 20%;
    text-align: center;
}

ul.menu_inicio li{
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 1px;
    
}
@media screen and (max-width: 1900px) {
    ul.menu_inicio li{
        font-size: 1rem;
    }
}
@media screen and (max-width: 1600px) {
    ul.menu_inicio li{
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 1500px) {
    ul.menu_inicio li{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 1300px) {
    ul.menu_inicio li{
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 1200px) {
    ul.menu_inicio li{
        font-size: 0.6rem;
    }
}
@media screen and (max-width: 1100px) {
    ul.menu_inicio li{
        font-size: 0.5rem;
    }
}



ul.menu_inicio>li.underline a{
    text-decoration: none;
    color: rgb(165, 116, 42);
    
}

ul.menu_inicio>li.underline {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
}

ul.menu_inicio>li.underline a:before, ul.menu_inicio>li.underline a:after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 0px;
        height: 5px;
        margin: 5px 0 0;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-transition-duration: 0.75s;
                transition-duration: 0.75s;
        opacity: 0;
      }
  
ul.menu_inicio>li.underline a:before {
        left: calc(50%);
        background-color: #ad6397;
      }
ul.menu_inicio>li.underline a:after {
    right: calc(50%);
    background-color: #ad6397;
  }

ul.menu_inicio>li.underline:hover a:before, ul.menu_inicio>li.underline:hover a:after{
      width: 45%;
      opacity: 1;
  }
  ul.menu_inicio>li.underline.psicologia:hover a:before, ul.menu_inicio>li.underline.psicologia:hover a:after{
    width:30%;
  }
  ul.menu_inicio>li.underline.coaching:hover a:before, ul.menu_inicio>li.underline.coaching:hover a:after{
      width: 30%;
  }
  ul.menu_inicio>li.underline.contacto:hover a:before, ul.menu_inicio>li.underline.contacto:hover a:after{
    width: 50%;
}
  ul.menu_inicio>li.underline.blog:hover a:before, ul.menu_inicio>li.underline.blog:hover a:after{
      width: 20%;
      
  }
  

 

  /* main*/
main {
    min-height: 100vh;
   
}

figure.img_primera {
    margin: 0;
    width: 100%;
    display: block;
    height: 40rem;
    overflow: hidden;
    position: relative;
    /* margin-bottom:5%; */
}
.oscuro{
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    left: 0;
    top: 0; 

    width: 100%;
    height: 40rem;
    z-index: 1;
} 

@media screen and (max-width: 1800px) {
    figure.img_primera {
        height: 30rem;
    }
    .oscuro {
        height: 30rem;
    }
   

}
/* revisar la flecha quizas hay que poner un fontawesome */
div.flecha {
    width: 100%; 
    margin-bottom: 8rem;
   
    
}
div.flecha a {
    width: 100%;
    color: black;
    display: block;
    
    text-align: center;
    font-size: 6rem;

}



p.enlace_consulta {
    position: absolute; 
    right: 22%; 
    top: 30%;
    z-index: 5;
}
.aconsulta {
    text-decoration: none;
    color: white;
    font-size: 4rem;
    font-family: 'Overlock', cursive;
    letter-spacing: 1px;
    
}
.aconsulta:hover {
    text-decoration: none;
    
}
/* línea debajo de CONSULTA DE PSICOLOGÍA */

p.enlace_consulta a{
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
}
.aconsulta:before, .aconsulta:after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 0px;
        height: 5px;
        margin: 5px 0 0;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-transition-duration: 0.75s;
                transition-duration: 0.75s;
        opacity: 0;
      }
  
.aconsulta:before {
        left: calc(50%);
        background-color: #ad6397;
      }
.aconsulta:after {
    right: calc(50%);
    background-color: #ad6397;
  }

  p.enlace_consulta:hover .aconsulta:before, p.enlace_consulta:hover .aconsulta:after{
      width: 50%;
      opacity: 1;
  }

/* lkj */
@media screen and (max-width: 1800px) {
    .aconsulta {
        font-size: 3rem;
    }
}

figure.img_primera:hover .oscuro {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transition-duration: 0.75s;
            transition-duration: 0.75s;
}
figure.img_primera:hover .aconsulta{
    color: var(--color-psicocaeliam);
    -webkit-transition: all 0.2 s ease-in-out;
    transition: all 0.2 s ease-in-out;
    -webkit-transition-duration: 0.50s;
            transition-duration: 0.50s;
}


/* figure.img_segunda {
    margin: 10% 0 10% 0;
    width: 100%;
    display: block;
    height: 70rem;
   
    
} */
img.paisaje_arriba {
    
    display: block;
    max-width:100%; 
}
/* img.sycaballo_abajo {
    
    display: block;
    max-width: 100%; 
    
}  */


div.container_parallax{
   
    width: 100%;
    background-color: black;
    
    
}
.parallax { 
    position: relative; 
    /* The image used */
    background-image: url("../images/caballos/caballos_sheilaMora-coaching_caballos_psicologia1.jpg");
  
    /* Set a specific height */
    height: 50rem; 
    width: 100%;
    

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
   
    50%  {right:200px; ;}
    75%  { right:0px; ;}
    100% {right:0px; }
}

/* Standard syntax */
@keyframes example {
    
    50%  {right:200px; ;}
    75%  { right:0px; ;}
    100% {right:0px;} 
}
a.texto {
    text-decoration: none; 
    position: absolute;
    left: -20%;
    top: 50%;
}
.parallax:hover a.texto {
        text-decoration: none;
        font-size: 4rem;
        color: white;
       
        position: absolute;
        left: 10%; 
        top: 20%;
        -webkit-transition: all 2s ease-in-out;
        transition: all 2s ease-in-out;
        -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
        animation-name: example;
        animation-duration: 0.5s;
    
}

/* icono arriba */
div.icon_arriba_cont {
    position: fixed;
    bottom: 1%; 
    right: 2%;
    z-index: 2000000;

}
.icon_arriba a{
    font-size: 2rem;
    color: white;

}
.icon_arriba a:hover{
    color: var(--color-psicocaeliam);
}

.nosotros_article {
    background-color: black;
    padding: 3rem;
    color: #df9527;
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    
}
.nosotros_article h4 {
    color: #dbbb8b
    
}
.nosotros_article p.pr_letra::first-letter {
    font-size: 1.5rem;
}
.nosotros_article h2 {
    color: white;
}
.overflow {
    overflow: hidden;
}
.container_img_sheila {
    
    width: 80%;
    background-color: black;
     

}
figure.fig_img_sheila {
   
    width: 100%;
    padding: 7%;
    margin: 0;
    margin-top: 10%;
   
    background-color: black;

   
   
}
.img_sheila {
   
    border-radius: 20rem;
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
   

}
div.container_image {
 
    min-height: 80vh;
    background-color: black;

}
figure.caballo_texto {
    width: 100%;
    background-image: url("../images/animacion/caballo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    position: relative;
    
}
.animacion {
    width: 100%;
    
}

/* -animacion .caballo_texto- */
@-webkit-keyframes n1 {
   
    50%  {right:200px; ;}
    75%  { right:0px; ;}
    100% {right:0px; }
}

/* Standard syntax */
@keyframes n1 {
    
    50%  {right:200px; ;}
    75%  { right:0px; ;}
    100% {right:0px;} 
}
.n1 {
    position: absolute;
    top: 10%;
    left: 20%;
}
.container_image:hover .n1 {
    position: absolute;
        left: 10%; 
        top: 50%;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    -webkit-animation-name: n0; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: n0;
    animation-duration: 0.5s;

}

@-webkit-keyframes n2 {
   
    50%  {right:200px; ;}
    75%  { right:0px; ;}
    100% {right:0px; }
}

/* Standard syntax */
@keyframes n2 {
    
    50%  {right:200px; ;}
    75%  { right:0px; ;}
    100% {right:0px;} 
}
.n2 {
    position: absolute;
    top: 50%;
    left: 60%;
}
.container_image:hover .n2 {
    position: absolute;
        left: 10%; 
        top: 20%;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    -webkit-animation-name: n0; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: n0;
    animation-duration: 0.5s;

}

@-webkit-keyframes n3 {
   
    50%  {right:200px; ;}
    75%  { right:0px; ;}
    100% {right:0px; }
}

/* Standard syntax */
@keyframes n3 {
    
    50%  {right:200px; ;}
    75%  { right:0px; ;}
    100% {right:0px;} 
}
.n3 {
    position: absolute;
    top: 30%;
    left: 40%;
}
.container_image:hover .n3 {
    position: absolute;
        left: 5%; 
        top: 6%;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    -webkit-animation-name: n0; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: n0;
    animation-duration: 0.5s;

}

@-webkit-keyframes n4 {
   
    50%  {right:200px; ;}
    75%  { right:0px; ;}
    100% {right:0px; }
}

/* Standard syntax */
@keyframes n4 {
    
    50%  {right:200px; ;}
    75%  { right:0px; ;}
    100% {right:0px;} 
}
.n4 {
    position: absolute;
    top: 30%;
    left: -40%;
}
.container_image:hover .n4 {
    position: absolute;
        left: 20%; 
        top: 70%;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    -webkit-animation-name: n0; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: n0;
    animation-duration: 0.5s;

}

/* menu navegacion caballos */
nav.menu_coaching_cab {
    width: 100%;
    height: 7rem;
    background-color: black;
    margin: 0 auto 0 auto; 

    color: white;
}
nav.menu_coaching_cab>ul{
    
    height: 2rem;
    margin-top: auto;
    margin-bottom: auto;
   
    
}
nav.menu_coaching_cab>ul li {
   
    
    width: 20%;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    margin-top: 1%;
    display: inline-block;
    vertical-align: top;
    
}
nav.menu_coaching_cab>ul li:not(:last-of-type){
    margin-left: 4%;
}

nav.menu_coaching_cab>ul li a {
    text-align: center;
    font-family: 'Overlock', cursive;
    letter-spacing: 1px;
    font-size:1.2rem;
    color: white;
    text-decoration: none;


}
nav.menu_coaching_cab>ul li a:hover{
    color: var(--color-psicocaeliam);
}


footer{
    height: 60rem;
    background-color: black;
}







